<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipo_de_patologium.nombre %>
</p>


<%= link_to 'Editar', edit_tipo_de_patologium_path(@tipo_de_patologium) %> |
<%= link_to 'Atrás', tipo_de_patologia_path %>
